.header_outer_container{
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 20, 20);
  background-color: transparent;
  
  
  transition: all 0.5s;
  transition-timing-function: ease-in;
  z-index: 1;
}
.header_container{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_left ul{
  display:flex;
  width: 140%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
  color: lightgray;
}
.header_right ul{
  display:flex;
  width: 140%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
   color: lightgray;
   
}